/* ---------- Body Background ---------- */
body {
    background-image: url(../images/backgroungImage.jpg);
    background-size: cover;       
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    margin: 0;
    padding: 0;
}


/* ---------- Hero Section ---------- */
.hero-home {
 
    color: white;
    text-align: center;
    padding: 40px 10px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.hero-home h1 {
    font-size: 26px;
    margin-bottom: 12px;
}

.hero-home p {
    font-size: 16px;
    margin-bottom: 15px;
}


/* ---------- Featured Section ---------- */
.featured-section {
    width: 90%;
    max-width: 1100px;
    margin: 20px auto;
}


/* ---------- Feature Card ---------- */
.feature-card {
    background-color: gray;
    margin: auto;
    padding: 6px;
    align-items: center;
    border-radius: 8px;
    text-align: center;
    margin-bottom: 15px;
width: 50%;
justify-content: center;
}

.feature-card img {
   width: 300px;
 
    padding: 12px;
    border-radius: 10px;
  
    text-align: center;
}


/* ---------- Buttons ---------- */
.btn-home {
    display: inline-block;
    padding: 10px 16px;
    border-radius: 6px;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
    background-color: green;
    color: white;
    border: none;
}


/* ---------- Utility Classes ---------- */
.text-center-home { 
    text-align: center; 
}

.mt-2 { 
    margin-top: 10px; 
}

.mb-2 { 
    margin-bottom: 10px; 
}

.w-100 { 
    width: 100%; 
}

    img {
    width: 100%;          /* تملى عرض الكارد */
    height: 200px;        /*ارتفاع ثابت يشيل أي صورة */
    object-fit: cover;    /*يقص الصورة ويحافظ على شكلها */
    border-radius: 8px;   /* كورنر ناعم */
    display: block;
    margin: auto;
} 

