body {
  font-family: Arial;
  background: lightgray;
  background-image: url(../images/backgroungImage.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.tracking-box {
  width: 500px;
  margin: 60px auto;
  background: white;
  padding: 25px;
  border: 1px solid gray;   
  border-radius: 12px;
}

.status-step {
  padding: 15px;
  margin-bottom: 12px;
  border-left: 5px solid silver; 
  background: whitesmoke;
  border-radius: 5px;
}

.active {
  border-color: orange;
  background: wheat;
}

.status-step h3 {
  margin: 0;
}
