
body {
  font-family: Arial;
  background-color: whitesmoke;
  background-image: url(../images/backgroungImage.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

 
.login-container {
  width: 350px;
  margin: 70px auto;
  background-color: white;
  padding: 25px;
  border: 1px solid white;     
  border-radius: 8px;
}

 .login-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

 .input-box {
  width: 100%;
  margin-bottom: 15px;
}

.input-box input {
  width: 100%;
  padding: 10px;
  border: 1px solid whitesmoke;
  border-radius: 5px;
}

 
button {
  width: 100%;
  padding: 10px;
  background-color: orange;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;   
}

/* Error message styling */
.error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
  display: block;
}

.input-box input:invalid {
  border-color: red;
}