body {
  font-family: Arial;
  background: lightgray;
  background-image: url(../images/backgroungImage.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.report-box {
  width: 90%;
  margin: auto;
  margin-top: 40px;
}

.report-card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  border: 1px solid gray;   
}

.report-card h3 {
  margin-bottom: 15px;
}

.report-table {
  width: 100%;
  border-collapse: collapse;
}

.report-table th,
.report-table td {
  border: 1px solid gray;
  padding: 10px;
  text-align: left;
}
